* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wrapper {
	max-width: 1340px;
	margin: 0 auto;
	/* outline: 1px solid rgba(123, 255, 0, 0.747); */
	padding: 10px 40px;
}
body {
	font-family: serif;
}
ul, li, input {
	padding: 0;
	margin: 0;
}

.empty_block {
	display: none;
}
/* ............................................................................. */

.calc {
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to right, rgba(62, 62, 145, 0.544), rgba(62, 62, 145, 0.644)), url(./img4/calcbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 0;
}
.calc_block {
	width: 100%;
	outline: 1px solid rgb(192, 175, 175);
	margin: 0 auto;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.25) 0%, #5C5A5A 150%);
	padding-bottom: 10px;
}
.tabs {
	margin: 0 auto;
	width: 500px;
	padding: 15px 0;
}
.tab {
	display: inline-block;
	border-radius: 15px 0 0 0;
	padding: 15px 14px;
	font-size: 19px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.67) 25%, #323131 100%);
	color: #E4DFDB;
	cursor: pointer;
}
.tabs_corp {
	border-radius: 15px 15px 0 0;
}
.tabs_shop {
	border-radius: 0 15px 0 0;
}
.active {
	background: rgba(255, 213, 0, 0.949);
	color: #000;
	position: relative;
}
.active::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: inline-block;
	background: rgba(255, 213, 0, 0.949);
	bottom: -10px;
	left: 0;
	
}
/* >>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<< */
h1 {
	margin-top: 15px;
	text-align: center;
	color: #E4DFDB;
}
.logick {
	margin-top: 20px;
}
.logick_block {
	display: inline-block;
	width: calc(48% - 10px);
	margin-left: 20px;
	font-size: 19px;
	color: #E4DFDB;
}
.check {
	margin-top: 10px;
}
.check input[type="checkbox"] {
	display: none;
}
.check input[type="checkbox"]:checked + label::before {
	background: rgb(240, 220, 220);
	border-radius: 50%;
	background-image: url(../img/check-mark-31.png);
	background-size: 100%;
	border: 1px solid rgba(37, 39, 37, 0.26);
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	/* margin-right: 9px; */
}
.check input[type="checkbox"]:checked + label {
	/* color: rgb(77, 224, 77) */
	color: rgba(255, 213, 0, 0.949);
}
.check label::before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	background: rgb(226, 219, 219);
	margin-right: 10px;
	box-sizing: border-box;
	border: 1px solid rgba(26, 29, 26, 0.521);
}

/* >>>>>>>>>>>>>>>>>>>>>>> service <<<<<<<<<<<<<<<<<< */
.service {
	margin-top: 15px;
	margin-left: 20px;
}
.service h2 {
	text-align: center;
	color: #E4DFDB;
	font-size: 28px;
}
.service h2::before {
	content: "";
	width: 85%;
	height: 2px;
	background: linear-gradient(to right, #E4DFDB, rgba(255, 213, 0, 0.658), rgba(255, 213, 0, 0.949));
	display: block;
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}
.add_service {
	margin-bottom: 7px;
	font-size: 20px;
	color: #E4DFDB;
}
.add_service input[type="checkbox"] {
	display: none;
}
.add_service input[type="checkbox"] + label::before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	background: rgb(226, 219, 219);
	margin-right: 10px;
	box-sizing: border-box;
	border: 1px solid rgba(8, 10, 8, 0.521);
}

.add_service input[type="checkbox"]:checked + label::before {
	border-radius: 50%;
	background: rgb(240, 220, 220);
	background-image: url(../img/check-mark-31.png);
	background-size: 100%;
	border: 1px solid rgba(37, 39, 37, 0.26);
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.add_service input[type="checkbox"]:checked + label {
	color: rgba(255, 213, 0, 0.949);
}
.add_service input[type="number"] {
	border: 1px solid #E4DFDB;
	outline: none;
	background: transparent;
	color: #E4DFDB;
	font-weight: 700;
	font-size: 20px;
	width: 65px;
	height: 35px;
}
.add_service input[type="number"]:focus {
	border: 1px solid rgba(255, 213, 0, 0.949)
}
.total {
	font-size: 34px;
	color: #E4DFDB;
	font-weight: 700;
	vertical-align: middle;
	margin: 0 auto;
	margin-left: 400px;
}
.total input {
	width: 75px;
	height: 35px;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 700;
	color: rgba(51, 50, 43, 0.949);
	margin-left: 25px;
	background: rgba(255, 255, 255, 0.082);
	outline: none;
	border: none;
	color: #E4DFDB;
	text-align: center;
}
.total small {
	font-weight: 400;
	margin-left: 10px;
}


/* >>>>>>>>>>>>>>>>>> Thubms up <<<<<<<<<<<<<<<<<<<<<< */
.fa-thumbs-up {
	color: rgba(255, 213, 0, 0.949);
	display: none;
}
/* >>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.total a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	margin-left: 65px;
	font-weight: 400;
	font-family: sans-serif;
	border: 1px solid #E4DFDB;
	padding: 12px 12px;
	display: inline-block;
	transition: .2s;
}
.total a:hover {
	color: rgba(255, 213, 0, 0.949);
	border: 1px solid rgba(255, 213, 0, 0.949);
}

/* >>>>>>>>>>>>>> Переключения Вперед-Назад <<<<<<<<<<<<<<<< */

.arrows {
	position: relative;
	height: 100px;
	text-align: center;
}
.arrows_line {
	position: absolute;
	top: 54px;
	left: 550px;
}
.arrow {
	display: inline-block;
	width: 200px;
	height: 50px;
	margin-top: 30px;
	position: relative;
}
.arrow:not(:last-child) {
    margin-right: 0px;
}
.arrows_line_middle {
    width: 150px;
    height: 3px;
    background: rgba(255, 247, 244, 0.9);
    position: relative;
}
.arrows_line_middle::before,
.arrows_line_middle::after {
	content: "";
	position: absolute;
	width: 70px;
	height: 3px;
	background: rgba(255, 249, 244, 0.9);
	left: 37px;
	transition: .5s;
}
.arrows_line_middle:before {
    transform: translateY(-20px);
}
.arrows_line_middle:after {
    transform: translateY(20px);
}
.arrows_left {
    background: rgba(40, 142, 231, 0.1);
}
.arrows_right {
    background: rgba(224, 189, 18, 0.1);
}
.arrows_line_middle:hover .arrows_line_middle:before {
    transform: translate(40px, -16px) rotate(25deg);
}

/* >>>>>>>> Наведення мишою класи для JS <<<<<<<<<<<<< */
.arrow_text_left {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 10px;
	opacity: 0;
	transition: .3s;
}
.arrow_text_right {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 10px;
	opacity: 0;
	transition: .3s;
}
.activeRight {
	background: rgb(255, 217, 0);
	position: relative;
}
.activeRight::before {
	transform: translate(44px, -12px) rotate(16deg);
	background: rgb(255, 217, 0)
}
.activeLeft {
	background: rgb(255, 217, 0);
	vertical-align: middle;
	position: relative;
}
.activeLeft::after {
	transform: translate(-38px, 12px) rotate(16deg);
	background: rgb(255, 217, 0);
} 